<!DOCTYPE html>

<html>

<head>
    <title>CreateLesson</title>
    <link rel="stylesheet" href="~/homepage/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" type="text/css" href="~/homepage/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" type="text/css" href="~/homepage/bower_components/Ionicons/css/ionicons.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" type="text/css" href="~/homepage/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. We have chosen the skin-blue for this starter
    page. However, you can choose any other skin. Make sure you
    apply the skin class to the body tag so the changes take effect. -->
    <link rel="stylesheet" type="text/css" href="~/homepage/css/skins/skin-blue.min.css">
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
    <link rel="stylesheet" href="~/components/css/Create.css">
</head>

<body>
    <form action="/HomePage/CreateLessonPage/InsertLesson" method="post">
        <div class="formgroup">
            <label class="lblCreate">Name</label><input class="txtCreate" type="text" name="name" />
        </div>
        <div class="formgroup">
            <label class="lblCreate">Year</label><input class="txtCreate" type="text" name="year" />
        </div>
        <div class="formgroup">
            <label class="lblCreate">AudioURLOnline</label><input class="txtCreate" type="text" name="audioURLOnline" />
        </div>
        <div class="formgroup">
            <label class="lblCreate">AudioURLDowload</label><input class="txtCreate" type="text" name="audioURLDowload" />
        </div>
        <div class="formgroup">
            <label class="lblCreate">ImageURL</label><input class="txtCreate" type="text" name="imageURL" />
        </div>
        <div class="formgroup">
            <label class="lblCreate">Transcript</label><textarea class="taCreateLarge" name="transcript"></textarea>
        </div>
        <div class="formgroup">
            <label class="lblCreate">Actor</label><input class="txtCreate" type="text" name="actor" />
        </div>
        <div class="formgroup">
            <label class="lblCreate">Summary</label><textarea class="taCreateSmall" name="summary"></textarea>
        </div>
        <div class="formgroup">
            <label class="lblCreate">Vocabulary</label><textarea class="taCreateSmall" name="vocabulary"></textarea>
        </div>
        <div class="formgroup">
            <input type="submit" value="Create" class="btnAdd" />
        </div>
    </form>
    <!-- jQuery 3 -->
    <script src="~/homepage/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/homepage/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/homepage/js/adminlte.min.js"></script> -->
</body>
</html>